body {
    font-family: "Helvetica Neue", sans-serif;
}

.container{
    overflow-x: auto ;
}

.title {
    font-size: 25px;
}

.date {
    font-size: 20px;
}

table tbody tr th {
    font-weight: normal;
}

table tbody tr th, table thead tr th {
    text-align: center;
}

table tbody tr:hover {
    background-color: #ccddff !important;
}

input[type='checkbox'] {
    width: 13px;
}

.search-container input[type='checkbox'], .todays-purchases-table input[type='checkbox'] {
    position: relative;
    left: 42%;
    margin-right: 0;
}

.entity-container {
    /* border: solid; */
    position: relative;
    padding: 45px 15px 15px;
    margin: 0 -15px 15px;
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.entity-container .entity-title {
    font-size: 20px;
    font-weight: 300;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.entity-title {
    margin-bottom: 20px;
}

.date-from-to {
    width: 350px;
}

.date-from.col-sm-6 {
    padding-left: 0;
    padding-right: 5px;
}

.date-to.col-sm-6 {
    padding-right: 0;
    padding-left: 5px;
}

.date-from .col-sm-12, .date-to .col-sm-12 {
    padding-right: 0;
    padding-left: 0;
}

.green {
    color: green;
}

.red {
    color: red;
}


img {
    display:block;
    margin:auto;
    margin-top: 10px
}


td {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.search-container div, .todays-purchases-table div{
    padding-right: 1px;
    padding-left: 1px;
    margin-right: 0;
    margin-left: 0;
}

.login .entity-title {
  text-align: center;
}

.login .btn-success {
  width: 35%;
}

#sums-sales-per-date-table-body tr:last-child th,
#sums-expenses-per-date-table-body tr:last-child th {
  font-weight: bold;
  bordet-top: 2px solid black;
}

.actions {
  float:left;
  width: 100px;
}

.actions .left {
  float: left;
}

.actions .right {
  float: right;
}

.expense-actions .left {
  margin-right: 2px;
}

.expense-actions .right {
  margin-left: 2px;
}
